<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true"   name="youAppLog4j2"
               packages="j.jave.framework.log4j2">
  <Properties>
    <Property name="jrameworkFile">D:/java_/server-directory/logs/youapp-jframework.log</Property>
    <Property name="extentionFile">D:/java_/server-directory/logs/youapp-extention.log</Property>
    <Property name="errorFile">D:/java_/server-directory/logs/youapp-error.log</Property>
  </Properties>
  
  <Appenders>
    <Appender type="Console" name="appConsole">
      <Layout type="PatternLayout" pattern="%d %p %C [%t] %m%n"/>
    </Appender>
    
    <Appender type="File" name="jframeworkAppender" fileName="${jrameworkFile}">
      <Layout type="PatternLayout">
        <Pattern>%d %p %C [%t] %m%n</Pattern>
      </Layout>
    </Appender>
    
    <Appender type="File" name="extensionAppender" fileName="${extentionFile}">
      <Layout type="PatternLayout">
        <Pattern>%d %p %C [%t] %m%n</Pattern>
      </Layout>
    </Appender>
    
    <Appender type="File" name="errorAppender" fileName="${errorFile}">
      <Layout type="PatternLayout">
        <Pattern>%d %p %C [%t] %m%n</Pattern>
      </Layout>
    </Appender>
    
  </Appenders>
 
  <Loggers>
    
    <Logger name="j.jave.framework" level="DEBUG" additivity="false">
      <AppenderRef ref="jframeworkAppender"/>
      <AppenderRef ref="appConsole"/>
    </Logger>
    
    <Logger name="org,com" level="DEBUG" additivity="false" >
      <AppenderRef ref="extensionAppender"/>
      <AppenderRef ref="appConsole"/>
    </Logger>
    
    <Logger name="*"  level="ERROR" additivity="false">
      <AppenderRef ref="errorAppender"/>
      <AppenderRef ref="appConsole"/>
    </Logger>
 
  </Loggers>
 
</Configuration>