<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true"   name="youAppLog4j2"
               packages="youapp.log4j2" >
  <Properties>
    <Property name="youapp-kernal">D:/java_/server-directory/logs/youapp-kernal.log</Property>
    <Property name="youapp-platform">D:/java_/server-directory/logs/youapp-platform.log</Property>
    <Property name="youapp-business">D:/java_/server-directory/logs/youapp-business.log</Property>
    <Property name="youapp-others">D:/java_/server-directory/logs/youapp-others.log</Property>
    
    <Property name="youapp-all">D:/java_/server-directory/logs/youapp-all.log</Property>
    <Property name="youapp-error">D:/java_/server-directory/logs/youapp-error.log</Property>
    <Property name="patternFormat">%d %p  %c [%t] %m %n</Property>
  </Properties>
  
  <Appenders>
  
    <Appender type="Console" name="appConsole">
      <Layout type="PatternLayout" pattern="${patternFormat}"/>
    </Appender>
    
    <Appender type="File" name="youapp-kernal" fileName="${youapp-kernal}">
      <Layout type="PatternLayout" pattern="${patternFormat}"/>
    </Appender>
    
    <Appender type="File" name="youapp-platform" fileName="${youapp-platform}">
      <Layout type="PatternLayout" pattern="${patternFormat}"/>
    </Appender>
    
    <Appender type="File" name="youapp-business" fileName="${youapp-business}">
      <Layout type="PatternLayout" pattern="${patternFormat}"/>
    </Appender>
    
    <Appender type="File" name="youapp-all" fileName="${youapp-all}">
      <Layout type="PatternLayout" pattern="${patternFormat}"/>
    </Appender>
    
    <Appender type="File" name="youapp-others" fileName="${youapp-others}">
      <Layout type="PatternLayout" pattern="${patternFormat}"/>
    </Appender>
    
    <Appender type="File" name="youapp-error" fileName="${youapp-error}">
      <Layout type="PatternLayout" pattern="${patternFormat}"/>
    </Appender>
    
  </Appenders>
 
  <Loggers>
    
    <Logger name="j.jave.kernal" level="DEBUG" additivity="false">
      <AppenderRef ref="youapp-kernal"/>
      <AppenderRef ref="appConsole"/>
    </Logger>
    
    <Logger name="j.jave.platform" level="DEBUG" additivity="false">
      <AppenderRef ref="youapp-platform"/>
      <AppenderRef ref="appConsole"/>
    </Logger>
    
    <Logger name="j.jave.framework" level="DEBUG" additivity="false">
      <AppenderRef ref="jframeworkAllAppender"/>
      <AppenderRef ref="appConsole"/>
    </Logger>
    
    <Logger name="org,com,*" level="DEBUG" additivity="false" >
      <AppenderRef ref="youapp-others"/>
      <AppenderRef ref="appConsole"/>
    </Logger>
    
    <Logger name="*"  level="ERROR" additivity="true">
      <AppenderRef ref="youapp-error"/>
      <AppenderRef ref="appConsole"/>
    </Logger>
 
  </Loggers>
 
</Configuration>