<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true"   name="youapp-log4j2"
               packages="j.jave.kernal.jave">
  
  <Appenders>
    <Appender type="Console" name="appConsole">
      <Layout type="PatternLayout" pattern="%d %p  %c [%t] %m %n"/>
    </Appender>
  </Appenders>
 
  <Loggers>
    
    <Logger name="j.jave" level="DEBUG" additivity="false">
      <AppenderRef ref="appConsole"/>
    </Logger>
    
    <Logger name="org" level="DEBUG" additivity="false">
      <AppenderRef ref="appConsole"/>
    </Logger>
    <Logger name="com" level="DEBUG" additivity="false">
      <AppenderRef ref="appConsole"/>
    </Logger>
    <Logger name="test.j.jave" level="DEBUG" additivity="false">
      <AppenderRef ref="appConsole"/>
    </Logger>
 
 
  </Loggers>
 
</Configuration>