.table_btn{
	margin-left: 5px;
}
.table.dataTable tbody tr.selected {
	background-color: #B0BED9;
}
.label-form-control{
	border: 0 !important;
}
.body_font{
	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif; !important
}