<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true"   name="youAppLog4j2"
               packages="j.jave.framework.log4j2" >
  <Properties>
    <Property name="jramework-commons-file">D:/java_/server-directory/logs/youapp-jframework-commons.log</Property>
    <Property name="jramework-components-file">D:/java_/server-directory/logs/youapp-jframework-components.log</Property>
    <Property name="jramework-all-file">D:/java_/server-directory/logs/youapp-jframework-all.log</Property>
    <Property name="youapp-all-other-file">D:/java_/server-directory/logs/youapp-all-other-file.log</Property>
    <Property name="errorFile">D:/java_/server-directory/logs/youapp-error.log</Property>
    <Property name="patternFormat">%d %p  %c [%t] %m %n</Property>
  </Properties>
  
  <Appenders>
  
    <Appender type="Console" name="appConsole">
      <Layout type="PatternLayout" pattern="${patternFormat}"/>
    </Appender>
    
    <Appender type="File" name="jframeworkCommonsAppender" fileName="${jramework-commons-file}">
      <Layout type="PatternLayout" pattern="${patternFormat}"/>
    </Appender>
    
    <Appender type="File" name="jframeworkComponentsAppender" fileName="${jramework-components-file}">
      <Layout type="PatternLayout" pattern="${patternFormat}"/>
    </Appender>
    
    <Appender type="File" name="jframeworkAllAppender" fileName="${jramework-all-file}">
      <Layout type="PatternLayout" pattern="${patternFormat}"/>
    </Appender>
    
    <Appender type="File" name="YouAPPAllOtherAppender" fileName="${youapp-all-other-file}">
      <Layout type="PatternLayout" pattern="${patternFormat}"/>
    </Appender>
    
    <Appender type="File" name="errorAppender" fileName="${errorFile}">
      <Layout type="PatternLayout" pattern="${patternFormat}"/>
    </Appender>
    
  </Appenders>
 
  <Loggers>
    
    <Logger name="j.jave.framework.commons" level="DEBUG" additivity="false">
      <AppenderRef ref="jframeworkCommonsAppender"/>
      <AppenderRef ref="appConsole"/>
    </Logger>
    
    <Logger name="j.jave.framework.components" level="DEBUG" additivity="false">
      <AppenderRef ref="jframeworkComponentsAppender"/>
      <AppenderRef ref="appConsole"/>
    </Logger>
    
    <Logger name="j.jave.framework" level="DEBUG" additivity="false">
      <AppenderRef ref="jframeworkAllAppender"/>
      <AppenderRef ref="appConsole"/>
    </Logger>
    
    <Logger name="org,com,*" level="DEBUG" additivity="false" >
      <AppenderRef ref="YouAPPAllOtherAppender"/>
      <AppenderRef ref="appConsole"/>
    </Logger>
    
    <Logger name="*"  level="ERROR" additivity="false">
      <AppenderRef ref="errorAppender"/>
      <AppenderRef ref="appConsole"/>
    </Logger>
 
  </Loggers>
 
</Configuration>