<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youappcorp.project.usermanager.mapper.UserMapper">


<resultMap id="base"  type="j.jave.kernal.jave.model.JBaseModel" >
		<result column="ID" property="id" />
		<result column="CREATEID" property="createId" />
		<result column="UPDATEID" property="updateId" />
		<result column="CREATETIME" property="createTime" />
		<result column="UPDATETIME" property="updateTime" />
		<result column="DELETED" property="deleted" />
		<result column="VERSION" property="version" />
</resultMap>

<resultMap type="com.youappcorp.project.usermanager.model.User" id="user"  extends="base" >
	<result column="USERNAME" property="userName" />
	<result column="PASSWORD" property="password" />
	
	<result column="USERIMAGE" property="userExtend.userImage" />
	<result column="USEREXTEND_ID" property="userExtend.id" />
	<result column="NATURENAME" property="userExtend.natureName" />
	
</resultMap>


<insert  id="saveModel" parameterType="com.youappcorp.project.usermanager.model.User">
insert into USERS
(
USERNAME,PASSWORD,ID,CREATEID,UPDATEID,CREATETIME,UPDATETIME,DELETED,VERSION
)
 values 
(
#{userName}
,#{password}
,#{id}
,#{createId}
,#{updateId}
,#{createTime}
,#{updateTime}
,#{deleted}
,#{version}
) 
</insert>

<delete id="markModelDeleted" >
	update USERS set DELETED='Y' where ID=#{id}
</delete>

<sql id="selectfor">
select a.*,
b.ID USEREXTEND_ID,
b.USERIMAGE USERIMAGE,
b.NATURENAME NATURENAME
from USERS a
left join USERS_EXTEND b on b.USERID=a.ID and b.DELETED='N' 
</sql>
<sql id="associationFilter">
    ( true ) 
</sql>


<select id="getUserByNameAndPassword"  resultMap="user"  >
<include refid="selectfor"/>
where a.DELETED='N' 
and <include refid="associationFilter"/>
and a.USERNAME=#{userName} and a.PASSWORD=#{password}
</select>


<select id="getUserByName"  resultMap="user"  >
<include refid="selectfor"/>
where a.DELETED='N' 
and <include refid="associationFilter"/>
and a.USERNAME=#{userName}
</select>


<select id="getModel"   resultMap="user"  >
select * from USERS where id=#{param1}
</select>


<select id="getUsersByPage"  resultMap="user"  parameterType="j.jave.kernal.jave.model.JBaseModel">
	select * from USERS where DELETED='N' 
	<if test="userName !=null and userName !=''">
		and USERNAME like CONCAT('%',  #{userName} ,'%')  
	</if>
	order by 
	<if test="page.sortColumn !=null and page.sortColumn !=''">
		${page.sortColumn} ${page.sortType}    ,
	</if> UPDATETIME desc
</select>


<select id="getUsers"   resultMap="user"  >
select * from USERS where DELETED='N'
</select>

<select id="getModelsByPage"  resultMap="user"  parameterType="j.jave.kernal.jave.model.JPageable">
    select * from USERS
    <if test="page.sortColumn!=null ">
    	order by ${page.sortColumn} ${page.sortType}    
    </if>
</select>

</mapper>