<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="j.jave.framework.mybatis.test.mapper.PersonMapper">

<insert  id="save" parameterType="j.jave.framework.mybatis.test.model.Person">
insert into PERSON
(
age,firstname,lastname,id,createId,updateId,createTime,updateTime,deleted,version
)
 values 
(
#{age},
#{firstname},
#{lastname}
,#{id}
,#{createId}
,#{updateId}
,#{createTime}
,#{updateTime}
,#{deleted}
,#{version}
)
</insert>

<select id="get" resultType="j.jave.framework.mybatis.test.model.Person" >
select * from PERSON where id=#{param1}
</select>

</mapper>