<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="j.jave.framework.components.weight.mapper.WeightMapper">


<resultMap id="base"  type="j.jave.framework.model.JBaseModel" >
		<result column="ID" property="id" />
		<result column="CREATEID" property="createId" />
		<result column="UPDATEID" property="updateId" />
		<result column="CREATETIME" property="createTime" />
		<result column="UPDATETIME" property="updateTime" />
		<result column="DELETED" property="deleted" />
		<result column="VERSION" property="version" />
</resultMap>

<resultMap type="j.jave.framework.components.weight.model.Weight" id="weight"  extends="base" >
	<result column="USERNAME" property="userName" />
	<result column="WEIGHT" property="weight" />
	<result column="RECORD_TIME" property="recordTime" />
	<result column="DESCRIPTION" property="desc" />
</resultMap>


<insert  id="save" >
insert into WEIGHT
(
ID,CREATEID,UPDATEID,CREATETIME,UPDATETIME,DELETED,VERSION
,USERNAME
,WEIGHT
,RECORD_TIME
,DESCRIPTION
)
 values 
(
#{id}
,#{createId}
,#{updateId}
,#{createTime}
,#{updateTime}
,#{deleted}
,#{version}
,#{userName}
,#{weight}
,#{recordTime}
,#{desc}
) 
</insert>

<select id="get"   resultMap="weight"  >
select * from WEIGHT where id=#{param1}
</select>

<select id="getWeightByName"  resultMap="weight"  >
select * from WEIGHT where DELETED='N' and USERNAME=#{userName} order by RECORD_TIME desc
</select>


<delete id="markDeleted" >
	update WEIGHT set DELETED='Y' where ID=#{id}
</delete>

<select id="getWeightsByPage"  resultMap="weight"  parameterType="j.jave.framework.model.JBaseModel">
	select * from WEIGHT where DELETED='N' and USERNAME=#{userName}
	<if test="recordTime!=null and recordTime!=''">
		and RECORD_TIME &gt; #{recordTime}
	</if>
	order by RECORD_TIME desc 
</select>


</mapper>