<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="j.jave.framework.components.authorize.resource.mapper.ResourceAuthorizedMapper">


<resultMap id="resourceAuthorized"  type="j.jave.framework.components.authorize.resource.model.ResourceAuthorized"   >
<result column="USERID" property="userId"  jdbcType="VARCHAR" />
<result column="USERNAME" property="userName"  jdbcType="VARCHAR" />
<result column="URL" property="url"  jdbcType="VARCHAR" />
</resultMap>

<select id="getResourceAuthorizedByUserId" resultMap="resourceAuthorized">
     SELECT RS.URL FROM RESOURCES RS 
	LEFT JOIN RESOURCES_GROUPS RG ON RS.ID=RG.RESOURCEID
	WHERE RS.DELETED='N' AND RG.DELETED='N' AND RG.ENABLE='Y' AND RG.GROUPID
	IN ( SELECT UG.GROUPID FROM  USERS_GROUPS UG 
	LEFT JOIN GROUPS G ON G.ID=UG.GROUPID
	WHERE UG.DELETED='N' AND G.DELETED='N' AND UG.USERID=#{userId} )
	UNION
	SELECT RS.URL FROM RESOURCES RS 
	LEFT JOIN RESOURCES_ROLES RR ON RS.ID=RR.RESOURCEID
	WHERE RS.DELETED='N' AND RR.DELETED='N' AND RR.ENABLE='Y' AND RR.ROLEID
	IN ( SELECT UR.ROLEID FROM  USERS_ROLES UR 
	LEFT JOIN ROLES R ON R.ID=UR.ROLEID
	WHERE UR.DELETED='N' AND R.DELETED='N' AND UR.USERID=#{userId} )
    
    
</select>


</mapper>