<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="j.jave.platform.basicwebcomp.login.mapper.RoleMapper">


<resultMap id="jBaseModel"  type="j.jave.kernal.jave.model.JBaseModel"   >
<result column="ID" property="id"  jdbcType="VARCHAR" />
<result column="CREATEID" property="createId"  jdbcType="VARCHAR" />
<result column="UPDATEID" property="updateId"  jdbcType="VARCHAR" />
<result column="CREATETIME" property="createTime"  jdbcType="TIMESTAMP" />
<result column="UPDATETIME" property="updateTime"  jdbcType="TIMESTAMP" />
<result column="DELETED" property="deleted"  jdbcType="VARCHAR" />
<result column="VERSION" property="version"  jdbcType="INTEGER" />
</resultMap>

<resultMap id="role"  type="j.jave.platform.basicwebcomp.login.model.Role"  extends="jBaseModel" >
<result column="ROLECODE" property="roleCode"  jdbcType="VARCHAR" />
<result column="ROLENAME" property="roleName"  jdbcType="VARCHAR" />
<result column="DESCRIPTION" property="description"  jdbcType="VARCHAR" />
</resultMap>


<insert  id="save" parameterType="j.jave.platform.basicwebcomp.login.model.Role">
insert into ROLES
(
ROLECODE,ROLENAME,DESCRIPTION
,ID,CREATEID,UPDATEID,CREATETIME,UPDATETIME,DELETED,VERSION
)values(
#{roleCode},#{roleName},#{description}
,#{id},#{createId},#{updateId},#{createTime},#{updateTime},#{deleted},#{version}
)
</insert>


<update id="update">
update ROLES
<set>  
UPDATEID =#{updateId},UPDATETIME =#{updateTime}
<if test="roleCode!=null">,ROLECODE =#{roleCode}</if>
<if test="roleName!=null">,ROLENAME =#{roleName}</if>
<if test="description!=null">,DESCRIPTION =#{description}</if>
<if test="version!=null">,VERSION =#{version}</if>
</set>  
where ID=#{id}
</update>


<delete id="markDeleted" >
update ROLES set DELETED='Y' where ID=#{id}
</delete>


<select id="get"   resultMap="role"  >
<include refid="selectfor"></include> 
where a.id=#{param1}
</select>


<sql id="selectfor">
select a.* from ROLES a 
</sql>

<select id="getsByPage"  resultMap="role"  parameterType="j.jave.kernal.jave.model.JPagination">
    select * from ROLES 
    <if test="page.sortColumn!=null ">
    	order by ${page.sortColumn} ${page.sortType}    
    </if>
</select>

<select id="getRoleByRoleCode"  resultMap="role"  parameterType="java.lang.String">
	<include refid="selectfor"/>
	where a.DELETED='N' and a.ROLECODE=#{roleCode}
</select>


<select id="getRoleByRoleNameByPage"  resultMap="role"  parameterType="j.jave.kernal.jave.model.JPagination">
	<include refid="selectfor"/>
	where a.DELETED='N'
	<if test="roleName !=null and roleName !=''">
		and ROLENAME like CONCAT('%',  #{roleName} ,'%')  
	</if>
</select>


<select id="getAllRoles"  resultMap="role"  parameterType="java.lang.String">
	<include refid="selectfor"/>
	where a.DELETED='N' 
</select>

</mapper>