<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="j.jave.platform.basicwebcomp.login.mapper.UserGroupMapper">


<resultMap id="jBaseModel"  type="j.jave.kernal.jave.model.JBaseModel"   >
<result column="ID" property="id"  jdbcType="VARCHAR" />
<result column="CREATEID" property="createId"  jdbcType="VARCHAR" />
<result column="UPDATEID" property="updateId"  jdbcType="VARCHAR" />
<result column="CREATETIME" property="createTime"  jdbcType="TIMESTAMP" />
<result column="UPDATETIME" property="updateTime"  jdbcType="TIMESTAMP" />
<result column="DELETED" property="deleted"  jdbcType="VARCHAR" />
<result column="VERSION" property="version"  jdbcType="INTEGER" />
</resultMap>

<resultMap id="userGroup"  type="j.jave.platform.basicwebcomp.login.model.UserGroup"  extends="jBaseModel" >
<result column="GROUPID" property="groupId"  jdbcType="VARCHAR" />
<result column="USERID" property="userId"  jdbcType="VARCHAR" />
<result column="DESCRIPTION" property="description"  jdbcType="VARCHAR" />

<result column="USERNAME" property="user.userName"  jdbcType="VARCHAR" />
<result column="GROUPNAME" property="group.groupName"  jdbcType="VARCHAR" />
<result column="GROUPCODE" property="group.groupCode"  jdbcType="VARCHAR" />

</resultMap>


<insert  id="saveModel" parameterType="j.jave.platform.basicwebcomp.login.model.UserGroup">
insert into USERS_GROUPS
(
GROUPID,USERID,DESCRIPTION
,ID,CREATEID,UPDATEID,CREATETIME,UPDATETIME,DELETED,VERSION
)values(
#{groupId},#{userId},#{description}
,#{id},#{createId},#{updateId},#{createTime},#{updateTime},#{deleted},#{version}
)
</insert>


<update id="updateModel">
update USERS_GROUPS
<set>  
UPDATEID =#{updateId},UPDATETIME =#{updateTime}
<if test="groupId!=null">,GROUPID =#{groupId}</if>
<if test="userId!=null">,USERID =#{userId}</if>
<if test="description!=null">,DESCRIPTION =#{description}</if>
<if test="version!=null">,VERSION =#{version}</if>
</set>  
where ID=#{id}
</update>


<delete id="markModelDeleted" >
update USERS_GROUPS set DELETED='Y' where ID=#{id}
</delete>


<select id="getModel"   resultMap="userGroup"  >
<include refid="selectfor"></include> 
where a.id=#{param1}
</select>


<sql id="selectfor">
    select a.*, b.USERNAME USERNAME, c.GROUPNAME GROUPNAME ,c.GROUPCODE GROUPCODE 
from USERS_GROUPS a
LEFT JOIN USERS b on a.USERID=b.ID
LEFT JOIN GROUPS c on a. GROUPID=c.ID
</sql>
<sql id="associationFilter">
    (b.DELETED='N' and c.DELETED='N') 
</sql>

<select id="getModelsByPage"  resultMap="userGroup"  parameterType="j.jave.kernal.jave.model.JPagination">
    select * from USERS_GROUPS 
    <if test="page.sortColumn!=null ">
    	order by ${page.sortColumn} ${page.sortType}    
    </if>
</select>

<select id="getUserGroupsByUserId"  resultMap="userGroup"  parameterType="java.lang.String">
    <include refid="selectfor"></include>
    where a.DELETED='N' 
    and <include refid="associationFilter"></include>
    <if test="userId!=null  and userId!='' ">
    	and a.USERID=#{userId}
    </if>
    
</select>

<select id="countOnUserIdAndGroupId" resultType="int">
    select count(1) 
    from USERS_GROUPS a
	LEFT JOIN USERS b on a.USERID=b.ID
	LEFT JOIN GROUPS c on a. GROUPID=c.ID
    where a.DELETED='N'
    and <include refid="associationFilter"></include>
    and  a.USERID=#{userId} and a.GROUPID=#{groupId}
</select>

<select id="getUserGroupOnUserIdAndGroupId"  resultMap="userGroup" >
    <include refid="selectfor"></include>  
    where a.DELETED='N'  
    and <include refid="associationFilter"></include>
    and   a.USERID=#{userId} and a.GROUPID=#{groupId}
</select>





</mapper>