<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="j.jave.platform.basicwebcomp.resource.mapper.ResourceRoleMapper">


<resultMap id="jBaseModel1"  type="j.jave.kernal.jave.model.JBaseModel"   >
<result column="ID" property="id"  jdbcType="VARCHAR" />
<result column="CREATEID" property="createId"  jdbcType="VARCHAR" />
<result column="UPDATEID" property="updateId"  jdbcType="VARCHAR" />
<result column="CREATETIME" property="createTime"  jdbcType="TIMESTAMP" />
<result column="UPDATETIME" property="updateTime"  jdbcType="TIMESTAMP" />
<result column="DELETED" property="deleted"  jdbcType="VARCHAR" />
<result column="VERSION" property="version"  jdbcType="INTEGER" />
</resultMap>

<resultMap id="resourceRole"  type="j.jave.platform.basicwebcomp.resource.model.ResourceRole"  extends="jBaseModel1" >
<result column="RESOURCEID" property="resourceId"  jdbcType="VARCHAR" />
<result column="ROLEID" property="roleId"  jdbcType="VARCHAR" />
<result column="ENABLE" property="enable"  jdbcType="VARCHAR" />
<result column="DESCRIPTION" property="description"  jdbcType="VARCHAR" />

<result column="ROLENAME" property="role.roleName"  jdbcType="VARCHAR" />
<result column="URL" property="resource.url"  jdbcType="VARCHAR" />
</resultMap>


<insert  id="saveModel" parameterType="j.jave.platform.basicwebcomp.resource.model.ResourceRole">
insert into RESOURCES_ROLES
(
RESOURCEID,ROLEID,ENABLE,DESCRIPTION
,ID,CREATEID,UPDATEID,CREATETIME,UPDATETIME,DELETED,VERSION
)values(
#{resourceId},#{roleId},#{enable},#{description}
,#{id},#{createId},#{updateId},#{createTime},#{updateTime},#{deleted},#{version}
)
</insert>


<update id="updateModel">
update RESOURCES_ROLES
<set>  
UPDATEID =#{updateId},UPDATETIME =#{updateTime}
<if test="resourceId!=null">,RESOURCEID =#{resourceId}</if>
<if test="roleId!=null">,ROLEID =#{roleId}</if>
<if test="enable!=null">,ENABLE =#{enable}</if>
<if test="description!=null">,DESCRIPTION =#{description}</if>
<if test="version!=null">,VERSION =#{version}</if>
</set>  
where ID=#{id}
</update>


<delete id="markModelDeleted" >
update RESOURCES_ROLES set DELETED='Y' where ID=#{id}
</delete>


<select id="getModel"   resultMap="resourceRole"  >
<include refid="selectfor"></include> 
where a.id=#{param1}
</select>


<sql id="selectfor">
select a.*,
b.ROLENAME ROLENAME,
c.URL URL
from RESOURCES_ROLES a 
left join ROLES b on a.ROLEID=b.ID
left join RESOURCES c on a.RESOURCEID=c.ID
</sql>
<sql id="associationFilter">
    (b.DELETED='N' and c.DELETED='N') 
</sql>

<select id="getModelsByPage"   resultMap="resourceRole"  parameterType="j.jave.kernal.jave.model.JPageable">
select * from RESOURCES_ROLES  
<if test="page.sortColumn!=null ">
order by ${page.sortColumn} ${page.sortType}   
</if>
</select>



<select id="getResourceRolesByResourceId"  resultMap="resourceRole"  parameterType="java.lang.String">
    <include refid="selectfor"></include>
    where a.DELETED='N' 
    and <include refid="associationFilter"></include>
    <if test="resourceId !=null  and resourceId !='' ">
    	and a.RESOURCEID=#{resourceId}
    </if>
    
</select>

<select id="countOnResourceIdAndRoleId" resultType="int">
    select count(1) 
    from RESOURCES_ROLES a 
	left join ROLES b on a.ROLEID=b.ID
	left join RESOURCES c on a.RESOURCEID=c.ID
    where a.DELETED='N' 
    and <include refid="associationFilter"></include>
    and  a.RESOURCEID=#{resourceId} and a.ROLEID=#{roleId}
</select>

<select id="getResourceRoleOnResourceIdAndRoleId"  resultMap="resourceRole" >
    <include refid="selectfor"></include>
    where a.DELETED='N' 
    and <include refid="associationFilter"></include>
    and  a.RESOURCEID=#{resourceId} and a.ROLEID=#{roleId}
</select>











</mapper>