<div id="layoutTab"  class="tabuloustab"  
data-layoutFor="contentContent" 
data-layoutId="layoutTab"   
data-top="120"
data-height="cal"
data-slicetop="5"
 >
	<ul class="nav nav-tabs  tabul"  id="tabMenu" >
		<li><a href="#timeline" title="Timeline"  id="timeline">Timeline</a></li>
	</ul>
	<div class="tabcontainer"  style="height: 100% ; background-color: #ecf0f5"  id="tabContainer">
		<div id="timeline">
			<!--tab content-->
			<div data-layoutId="tabTimeline"   
					data-htmlUrl="ui/pages/timeline.html"   style="height: auto;"></div>
		</div>
		
	</div>
	<!--End tabs container-->
</div>
<script type="text/javascript">
	$(function(){
		$_youapp.$tabs={};
		$_youapp.$tabs.layoutTab=$('#layoutTab').tabulous({
			effect: 'scaleUp'
		});
	})
</script>



