<ul class="timeline">
    <!-- timeline time label -->

    <template ngFor #timelineGroup [ngForOf]="timelines" >
        <li class="time-label">
            <span class="bg-red"> {{timelineGroup.date}} </span></li>
        <!-- /.timeline-label -->
        <li *ngFor="#timeline of timelineGroup.timelineViews">
            <i class="fa fa-user bg-aqua"></i>
            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i>  {{ timeline.timeOffset}}</span>
                <h3 class="timeline-header no-border">
                    <a href="javascript:void(0)"

                    >{{timeline.highlightContent}}</a> {{timeline.header}}
                </h3>
            </div>
        </li>

    </template>
    <!-- END timeline item -->
    <li><i class="fa fa-clock-o bg-gray"></i></li>
</ul>