<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" strict="true"   name="youapp-log4j2"
               packages="j.jave.kernal.streaming"  level="INFO">
  
  <Appenders>
    <Appender type="Console" name="appConsole">
      <Layout type="PatternLayout" pattern="%d{yyyy/MM/dd HH:mm:ss} %p .%c{1} %m %n"/>
    </Appender>
  </Appenders>
 
  <Loggers>
    
    <Logger name="j.jave.kernal.streaming" level="INFO" additivity="false">
      <AppenderRef ref="appConsole"/>
    </Logger>
    
    <Logger name="org" level="INFO" additivity="false">
      <AppenderRef ref="appConsole"/>
    </Logger>
    
    <Logger name="org.apache.zookeeper.ClientCnxn" level="INFO" additivity="false">
      <AppenderRef ref="appConsole"/>
    </Logger>
    
    <Logger name="com" level="DEBUG" additivity="false">
      <AppenderRef ref="appConsole"/>
    </Logger>
    
    <Logger name="test.j.jave" level="DEBUG" additivity="false">
      <AppenderRef ref="appConsole"/>
    </Logger>
    
    <Logger name="*" level="INFO" additivity="false">
      <AppenderRef ref="appConsole"/>
    </Logger>
 
  </Loggers>
 
</Configuration>