<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="j.jave.framework.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <supports-screens  android:resizeable="true" ></supports-screens>
    
    <uses-permission  android:name="android.permission.INTERNET"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.YouAPPThem" 
        >
        
        <activity android:name="j.jave.framework.android.components.EntranceActivity" >
            <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
            
        </activity>
            
        
        <activity android:name="j.jave.framework.android.components.core.LoginActivity"  ></activity>
        
        <activity android:name="j.jave.framework.android.components.core.DialogActivity"></activity>
        
        <activity android:name="j.jave.framework.android.activity.BgActivity"></activity>
        
        <activity android:name="j.jave.framework.android.activity.tab.TabFragment"></activity>
        
        <activity android:name="j.jave.framework.android.components.core.MainActivity"></activity>
        
        <activity android:name="j.jave.framework.android.components.demo.DemoMain"></activity>
        
        <activity android:name="j.jave.framework.android.components.demo.DemoToast"></activity>
        
        <activity android:name="j.jave.framework.android.components.demo.DemoSpinner"></activity>
        
    </application>
    
    
    

</manifest>
