<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="j.jave.framework.components.login.mapper.GroupMapper">


<resultMap id="jBaseModel"  type="j.jave.framework.model.JBaseModel"   >
<result column="ID" property="id"  jdbcType="VARCHAR" />
<result column="CREATEID" property="createId"  jdbcType="VARCHAR" />
<result column="UPDATEID" property="updateId"  jdbcType="VARCHAR" />
<result column="CREATETIME" property="createTime"  jdbcType="TIMESTAMP" />
<result column="UPDATETIME" property="updateTime"  jdbcType="TIMESTAMP" />
<result column="DELETED" property="deleted"  jdbcType="VARCHAR" />
<result column="VERSION" property="version"  jdbcType="INTEGER" />
</resultMap>

<resultMap id="group"  type="j.jave.framework.components.login.model.Group"  extends="jBaseModel" >
<result column="GROUPCODE" property="groupCode"  jdbcType="VARCHAR" />
<result column="GROUPNAME" property="groupName"  jdbcType="VARCHAR" />
<result column="DESCRIPTION" property="description"  jdbcType="VARCHAR" />
</resultMap>


<insert  id="save" parameterType="j.jave.framework.components.login.model.Group">
insert into GROUPS
(
GROUPCODE,GROUPNAME,DESCRIPTION
,ID,CREATEID,UPDATEID,CREATETIME,UPDATETIME,DELETED,VERSION
)values(
#{groupCode},#{groupName},#{description}
,#{id},#{createId},#{updateId},#{createTime},#{updateTime},#{deleted},#{version}
)
</insert>


<update id="update">
update GROUPS
<set>  
UPDATEID =#{updateId},UPDATETIME =#{updateTime}
<if test="groupCode!=null">,GROUPCODE =#{groupCode}</if>
<if test="groupName!=null">,GROUPNAME =#{groupName}</if>
<if test="description!=null">,DESCRIPTION =#{description}</if>
<if test="version!=null">,VERSION =#{version}</if>
</set>  
where ID=#{id}
</update>


<delete id="markDeleted" >
update GROUPS set DELETED='Y' where ID=#{id}
</delete>


<select id="get"   resultMap="group"  >
<include refid="selectfor"></include> 
where a.id=#{param1}
</select>


<sql id="selectfor">
select a.* from GROUPS a 
</sql>


<select id="getsByPage"   resultMap="group"  parameterType="j.jave.framework.model.JPagination">
select * from GROUPS  
<if test="page.sortColumn!=null ">
order by ${page.sortColumn} ${page.sortType}   
</if>
</select>

</mapper>