<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="j.jave.framework.components.login.mapper.UserMapper">


<resultMap id="jBaseModel"  type="j.jave.framework.model.JBaseModel"   >
<result column="ID" property="id"  jdbcType="VARCHAR" />
<result column="CREATEID" property="createId"  jdbcType="VARCHAR" />
<result column="UPDATEID" property="updateId"  jdbcType="VARCHAR" />
<result column="CREATETIME" property="createTime"  jdbcType="TIMESTAMP" />
<result column="UPDATETIME" property="updateTime"  jdbcType="TIMESTAMP" />
<result column="DELETED" property="deleted"  jdbcType="VARCHAR" />
<result column="VERSION" property="version"  jdbcType="INTEGER" />
</resultMap>

<resultMap id="user"  type="j.jave.framework.components.login.model.User"  extends="jBaseModel" >
<result column="USERNAME" property="userName"  jdbcType="VARCHAR" />
<result column="PASSWORD" property="password"  jdbcType="VARCHAR" />
</resultMap>


<insert  id="save" parameterType="j.jave.framework.components.login.model.User">
insert into USERS
(
USERNAME,PASSWORD
,ID,CREATEID,UPDATEID,CREATETIME,UPDATETIME,DELETED,VERSION
)values(
#{userName},#{password}
,#{id},#{createId},#{updateId},#{createTime},#{updateTime},#{deleted},#{version}
)
</insert>


<update id="update">
update USERS
<set>  
UPDATEID =#{updateId},UPDATETIME =#{updateTime}
<if test="userName!=null">,USERNAME =#{userName}</if>
<if test="password!=null">,PASSWORD =#{password}</if>
<if test="version!=null">,VERSION =#{version}</if>
</set>  
where ID=#{id}
</update>


<delete id="markDeleted" >
update USERS set DELETED='Y' where ID=#{id}
</delete>


<select id="get"   resultMap="user"  >
<include refid="selectfor"></include> 
where a.id=#{param1}
</select>


<sql id="selectfor">
select a.* from USERS a 
</sql>


<select id="getsByPage"   resultMap="user"  parameterType="j.jave.framework.model.JPagination">
select * from USERS  
<if test="page.sortColumn!=null ">
order by ${page.sortColumn} ${page.sortType}   
</if>
</select>

</mapper>